.jumbotron {
  background-image: url(/images/defaultBcg.jpg); 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 padding-bottom: 80px;
 align-items: center;
 min-height: calc(100vh - 10px);
  
  
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color:wheat;
  max-width: 90%;
  margin: 1em auto 2em;
  font-size: 200%;
}
.jumbotron h1 {
  font-size: 60px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background:white;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
/*
html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  color: white;
  background: #16222A;  /* fallback for old browsers 
  background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
 }
 h2 { 
     font-size: 3.0rem;
     color: white; 
 }
 p { font-size: 3.0rem; }
 .units { font-size: 1.2rem; 
 color: white;
 }
 .sensor-labels{
   font-size: 1.5rem;
   vertical-align:middle;
   padding-bottom: 15px;
   color: white;            
 }
 .value{
     font-size: 40px;
     color: white;
 }
 .button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  }
  */