{% extends "layout.html" %}

{% block content %}

<h1>Weather Web</h1>
    
    <p>
        <i class="fas fa-temperature-high" style="color:#059e8a; "></i>
        <span class="sensor-labels">Temperature: </span>
        <span id="temperature" class="value">--</span>
        <sup class="units">&deg;C</sup>
    </p>
    
    <p>
        <i class="fas fa-tint" style="color:#00add6; "></i>
        <span class="sensor-labels">Humidity: </span>
        <span id="humidity" class="value">--</span>
        <sup class="units">&#37;Hr</sup>
    </p>
    <p>
        <i class="fas fa-water" style="color: brown; "></i>
        <span class="sensor-labels">Soil Humidity: </span>
        <span id="soil" class="value">--</span>
        <sup class="units">&#37;</sup> 
   </p>

   <p>
    <i class="fas fa-sun" style="color: yellow; "></i>
    <span class="sensor-labels">Lighting: </span>
    <span id="light" class="value">--</span>
    <sup class="units">lx</sup>    
   </p>

   <p>
    <i class="fas fa-cloud-rain" style="color: gray; "></i>
    <span class="sensor-labels">Precipitation: </span>
    <span id="precipitation" class="value">--</span>
    <sup class="units">&#37;</sup>   
   </p>

{% endblock %}
